* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
  color:black;
}

#root{
  height: 100%;
}

body {
  height: 100%;
  background-color: green;
}